@font-face{
	font-family: Journalism;
	font-display: swap;
	src: url("../fonts/Journalism.woff2") format("woff2"), url("../fonts/Journalism.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Doloman Pavljenko;
	font-display: swap;
	src: url("../fonts/Doloman Pavljenko.woff2") format("woff2"), url("../fonts/Doloman Pavljenko.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
