//===========================================
$fontFamily: "Doloman Pavljenko"; //Шрифт по умолчанию
$fontSize: 24px; //Размер шрифта по умолчанию
$mainColor: #523718; // Цвет шрифта по умолчанию
//===========================================

//<Основные цвета>======
$secondly: #603517;
$title: #422A0F;

$dress-1: #FBECCF;
$dress-2: #EDDFD6;
$dress-3: #D6DAC9;
$dress-4: #D2A272;
$dress-5: #CBD5B0;
$dress-6: #AF8861;
$dress-7: #616B37;
//</Основные цвета>=====
//<Брейкпоинты>=========
$siteWidth: 430;
$widthContainer: 442;
$mb1: $widthContainer + 12;
$mb2: 991.92;
$mb3: 767.98;
$mb4: 479.98;
//</Брейкпоинты>========